DISCORD_TOKEN=your_bot_token_here
DISCORD_CLIENT_ID=your_client_id_here
DISCORD_GUILD_ID=your_guild_id_here
# GLOBAL=true
# DISCORD_DB_PATH=data/discord.sqlite
# DISCORD_PARTICIPANT_ROLE_ID=your_participant_role_id_here
SERVER_BASE_URL=http://localhost:3000
SERVER_API_KEY=your_api_key_here
