BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

CORS_ORIGIN=http://localhost:3001,http://localhost:3002
NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

AWS_ACCESS_KEY_ID=rustfsadmin
AWS_ENDPOINT_URL_S3=http://localhost:9000
AWS_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=rustfssecret
